<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>questions</h1>
<form method="post" action="/check">

    <label>Which of the following is NOT a layer in the OSI model?</label>
    <br>
    <input type="radio" name="answer1" value="a">
    <label for="a">a) Data Link Layer</label>
    <br>
    <input type="radio" name="answer1" value="b">
    <label for="b">b) Application Layer</label>
    <br>
    <input type="radio" name="answer1" value="c">
    <label for="c">c) Presentation Layer</label>
    <br>
    <input type="radio" name="answer1" value="d">
    <label for="d">d) Transport Layer</label>
    <br>
    <br>
    <label>Which of the following is a reliable transport protocol?</label>
    <br>
    <input type="radio" name="answer2" value="a">
    <label for="a">a) TCP</label>
    <br>
    <input type="radio" name="answer2" value="b">
    <label for="b">b) UDP</label>
    <br>
    <input type="radio" name="answer2" value="c">
    <label for="c">c) HTTP</label>
    <br>
    <input type="radio" name="answer2" value="d">
    <label for="d">d) SMTP</label>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>