<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>questions</h1>
<form method="post" action="/finalCheck">
    <label>How many prime numbers are there under 20?</label>
    <input type="text" name="answer1">
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>